:root {
  --main-color: rgb(90, 18, 243);
  --secondary-color: rgb(173, 242, 242);
  --white-color: #fff;
}

body {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

/* -----HEADER----- */
.header {
  padding: 20px;
  background-color: aliceblue;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 50px;
}
.header__logo:hover {
  fill: var(--main-color);
}

.header__menu {
  display: flex;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__list-item {
  text-align: center;
  margin-right: 30px;
}

.header__list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
}
/* .header__list-item:not(:last-child) {
  margin-right: 30px;
} */
.header__list-item:last-child {
  justify-self: flex-end;
}

.button {
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 876px) {
  .header__list-item {
    margin: 20px;
  }
}
@media (max-width: 955px) {
  .main__list {
    margin: 20px;
  }
}

/* ------MAIN----- */
.main {
  min-height: 100vh;
  padding: 25px;
  /* background-image: -webkit-linear-gradient(
    top,
    rgba(173, 242, 242, 0.6) 0%,
    rgba(104, 18, 203, 0.2) 80%,
    rgba(173, 242, 242, 0.6) 100%
  ); */
}

.main__section {
  display: flex;
  flex-wrap: wrap;
}

.main__list {
  min-width: 300px;
  margin-right: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
}

.main__list-name,
.add-card {
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  padding: 15px 30px 5px;
}

.main__list-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.main__list-close {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.main__list-close::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
}
.main__list-close::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(-45deg);
}
.main__list-btn:hover .main__list-close::after,
.main__list-btn:hover .main__list-close::before {
  background-color: var(--main-color);
}

.list-card {
  border: 2px solid rgba(134, 18, 243, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  padding: 25px 7px 7px;
  margin: 10px;
  position: relative;
}
.list-card__name {
  display: block;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.list-card__btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 8px;
  cursor: pointer;
}

.list-card__close {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.list-card__close::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
}
.list-card__close::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(-45deg);
}
.list-card__btn:hover .list-card__close::after,
.list-card__btn:hover .list-card__close::before {
  background-color: var(--main-color);
}

.add-card-btn {
  color: var(--main-color);
  font-size: 18px;
}

/* -----FOOTER----- */
.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.footer__text {
  font-size: 12px;
}

.share-widget__sub {
  margin: 10px;
}

.share-widget__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-widget__title svg {
  width: 20px;
  margin-right: 10px;
  fill: var(--main-color);
}

.share-widget__title span {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--main-color);
}

.share-widget__icons a {
  text-decoration: none;
}

.share-widget__icons a svg {
  width: 24px;
  margin: 7px;
  transition: 0.2s ease-in-out;
  fill: rgb(69, 5, 160);
}

.share-widget__icons a svg:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
  fill: #000;
}

.share-widget {
  perspective: 400px;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.share-widget .share-widget__sub {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-widget__title,
.share-widget__icons {
  position: absolute;
  width: 100%;
  height: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px rgba(134, 18, 243, 0.2),
    0 3px 4px rgba(134, 18, 243, 0.24);
}

.share-widget__icons {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.share-widget__sub.flipped {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* ----EXAMPLES----- */
#list-example {
  display: none;
}
#card-example {
  display: none;
}

/* ----MODAL WINDOW----- */

.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(50, 58, 64, 0.7);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.4s ease-in-out;
}

.modal-window {
  background-color: #fff;
  border-radius: 35px;
  padding: 32px 92px 60px;
  position: relative;
  transition: all 0.4s ease-in-out;
  transform: perspective(800px) translate(0px, -100%) rotateX(45deg);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 18px;
  cursor: pointer;

  border-radius: 50%;
  transition: all 0.4s;
}
.form__btn:hover {
  background-color: #ccc;
}

.form__btn-close {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.form__btn-close::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 4px;
  transform: rotate(45deg);
  transition: all 0.4s;
}
.form__btn-close::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 4px;
  transform: rotate(-45deg);
  transition: all 0.4s;
}
.form__btn:hover .form__btn-close::after,
.form__btn:hover .form__btn-close::before {
  background-color: var(--white-color);
}

.form__text {
  font-size: 18px;
  line-height: 1;
  margin-top: 32px;
  margin-bottom: 32px;
}
.form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.field-name {
  font-weight: 400;
  margin-bottom: 8px;
}
.field-input {
  background: #ffffff;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  height: 48px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  padding: 4px 8px;
  transition: 0.5s;
}

.field-input:focus {
  box-shadow: 0px 0px 4px 2px #bbb;
}

.button_sign-in {
  margin-top: 24px;
  padding: 15px 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
}

/* -----MODAL OPEN*/
.modal-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-open .modal-window {
  transform: perspective(800px) translate(0px, 0px) rotateX(0deg);
}
