:root {
  --main-color: rgb(134, 18, 243);
  --secondary-color: rgb(173, 242, 242);
}

body {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

/* -----HEADER----- */
.header {
  padding: 20px;
  background-color: rgba(173, 242, 242, 0.3);
}

.header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 50px;
}
.header__logo:hover {
  fill: var(--main-color);
}

.header__menu {
  display: flex;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__list-item {
  text-align: center;
  margin-right: 30px;
}

.header__list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
}
/* .header__list-item:not(:last-child) {
  margin-right: 30px;
} */
.header__list-item:last-child {
  justify-self: flex-end;
}

.button {
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
@media (max-width: 876px) {
  .header__list-item {
    margin: 20px;
  }
}
@media (max-width: 955px) {
  .main__list {
    margin: 20px;
  }
}

/* ------MAIN----- */
.main {
  min-height: 100vh;
  padding: 25px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(173, 242, 242, 1) 0%,
    rgba(134, 18, 243, 0.2) 50%,
    rgba(173, 242, 242, 1) 100%
  );
}

.main__section {
  display: flex;
  flex-wrap: wrap;
}

.main__list {
  min-width: 250px;
  margin-right: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;
}

.main__list-name,
.main__list-item {
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  padding: 15px 30px;
}

.main__list-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.main__list-close {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.main__list-close::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
}
.main__list-close::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(-45deg);
}
.main__list-btn:hover .main__list-close::after,
.main__list-btn:hover .main__list-close::before {
  background-color: var(--main-color);
}

.list-card {
  border: 2px solid #000;
  height: 200px;
  width: 200px;
}

/* -----FOOTER----- */
.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(173, 242, 242, 0.3);
}

.footer__text {
  font-size: 12px;
}

.share-widget__sub {
  margin: 10px;
}

.share-widget__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-widget__title svg {
  width: 20px;
  margin-right: 10px;
  fill: var(--main-color);
}

.share-widget__title span {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--main-color);
}

.share-widget__icons a {
  text-decoration: none;
}

.share-widget__icons a svg {
  width: 24px;
  margin: 7px;
  transition: 0.2s ease-in-out;
  fill: rgb(69, 5, 160);
}

.share-widget__icons a svg:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
  fill: #000;
}

.share-widget {
  perspective: 400px;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.share-widget .share-widget__sub {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-widget__title,
.share-widget__icons {
  position: absolute;
  width: 100%;
  height: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px rgba(134, 18, 243, 0.2),
    0 3px 4px rgba(134, 18, 243, 0.24);
}

.share-widget__icons {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.share-widget__sub.flipped {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* ----EXAMPLES----- */
#list-example {
  display: none;
}
#card-example {
  display: none;
}

.main__list-btn {
}
